*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 1200px;
  margin: 0;
  padding: 50px;
  font: 16px Verdana, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#wrapper {
  position: relative; }

.branch {
  position: relative;
  margin-left: 307px; }
  .branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #7ba73e;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px; }

.entry {
  position: relative;
  min-height: 60px; }
  .entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #7ba73e;
    position: absolute;
    left: -50px; }
  .entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #7ba73e;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px; }
  .entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0; }
  .entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0; }
  .entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px; }
  .entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #7ba73e;
    border-radius: 0 0 0 10px;
    margin-top: -9px; }
  .entry.sole:before {
    display: none; }
  .entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0; }

.label {
  display: block;
  min-width: 207px;
  padding: 5px 10px;
  line-height: 20px;
  color: black;
  text-align: center;
  border: 2px solid #7ba73e;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px; }

.level {
  display: block;
  line-height: 20px;
  color: black;
  text-align: center;
  border-bottom: 1px solid #7ba73e;
  border-left: 1px solid #7ba73e;
  border-right: 1px solid #7ba73e;
  position: relative; }

.line-right {
  display: block;
  line-height: 20px;
  color: black;
  text-align: center;
  border-right: 1px solid #7ba73e;
  position: relative; }

.hidden {
  display: none; }

.padding-top {
  padding-top: 2%; }

.dropdown-menu, .searchbar {
  min-width: 207px; }

.inline-header {
  display: inline-block;
  vertical-align: baseline; }

.search-results {
  border-left: 1px solid rgba(149, 193, 87, 0.5);
  border-right: 1px solid rgba(149, 193, 87, 0.5);
  border-top: 1px solid rgba(149, 193, 87, 0.5);
  border-bottom: 1px solid rgba(149, 193, 87, 0.5);
  margin-bottom: 2px;
  padding-left: 3%; }

.search-results .col-md-11 {
  padding-left: 1%;
  border-bottom: 1px solid rgba(149, 193, 87, 0.5); }

.search-results .col-md-11 h1 {
  font-size: 16px; }

.search-results h2, p {
  font-size: 14px; }

textarea {
  resize: none; }

.right-buffer {
  margin-right: 2%; }

.padding-bottom {
  margin-bottom: 0px; }

.edit-page p {
  font-size: 20px; }
